:root {
	--iris: #4d5ae5;
	--ocean: #404bbf;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--navy-blue-modal: rgba(46, 47, 66, 0.4);
	--grey: rgba(46, 47, 66, 0.7);
	--white: #fff;
	--dairy: #fcfcfc;

    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
}

.container {
    width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}
@media (min-width: 768px) {
    .container {
        width: 768px;
    }
}
@media (min-width: 1280px) {
    .container {
        width: 1128px;
        padding: 0;
    }
}

/* Header styles start */
.head {
    background-color: white;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0px 0px 8px 2px rgba(194,194,194,1);
}

.head-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    background-color:white;
}

.head-logo > a {
    text-decoration: none;
    color:#4D5AE5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.head-logo-span {
    color: black;
}

.head_burger-btn {
    width: 18px;
    height: 16px;
    background-image: url(../img/svg/burger_menu.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
}
.head-nav {
    display: none;
}
@media (min-width:768px){
    .head-content{
        height: 72px;
    }
    .head_burger-btn {
        display: none;
    }
    .head-nav{
        height: 100%;
        display: flex;
        column-gap: 122px;
        align-items: center;
    }
    .head-menu{
        height: 100%;
        display: flex;
        column-gap: 40px;
    }
    .head-menu-item {
        height: 100%;
    }
    .head-menu-link {
        display: flex;
        align-items: center;
        height: 100%;
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: var(--navy-blue);
        position: relative;
    }
    .head-menu-link:hover {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: var(--ocean);
    }
    .head-menu-link:hover::after {
        content: "";
        height: 4px;
        width: 100%;
        border-radius: 2px;
        background: var(--ocean);
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    
}
.head-address{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.head-address-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: var(--slate);
}
.head-address-link:hover{
    color: var(--ocean);
} 
@media (min-width:1280px){
    .head-nav{
        column-gap: 332px;
    }
    .head-address {
        flex-direction: row;
        column-gap: 40px;
    }
}



.backdrop {
    pointer-events: none;
    width: 100%;
    height: 100%;
    background-color: white;
    position: fixed;
    top:0;
    left:0;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
}
.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}
.backdrop-wrap {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
}
.backdrop-close {
    width: 24px;
    height: 24px;
    background-image: url(../img/svg/close.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
    position: absolute;
    top:24px;
    right: 24px;
}
.back-menu {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.back-menu-link {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
}
.back-menu-link:hover {
    color: var(--ocean);
}
.back-address-link {
    font-size: 20px;
}
.back-address {
    margin-bottom: 48px;
}



/* Header style end */

/* Hero styles start */
.hero {
    height: 432px;
    background: linear-gradient(rgba(46,47,66,.7), rgba(46,47,66,.7)), 
                url('../img/Dark-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* flex-direction: column; */
    color: #ffffff;
}

.hero h1 {
    width: 216px;
    font-size: 36px;
    line-height: 1.3;
    text-align: center;
    margin: 0 auto;
    font-weight: 700;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 65px;
    font-family: "Roboto", sans-serif;
}

.hero-button {
    cursor: pointer;
    width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    letter-spacing: 1.2px;
    border-radius: 5px; 
    margin: 0 auto;
    color: #ffffff;
    border: none;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
@media (min-width:768px) {
    .hero h1 {
        width: 496px;
        font-weight: 700;
        font-size: 56px;
        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
    }
}
@media (min-resolution: 192dpi) {
    .hero {
        background: linear-gradient(rgba(46,47,66,.7), rgba(46,47,66,.7)), 
                url('../img/Dark-bg@2x.jpg');
                background-position: center;
                background-repeat: no-repeat;
            background-size: cover;
    }
}
@media (min-width:1280px) {
    .hero{
        height: 600px;
    }
}



/* HERO STYLES END */

/* Feature styles start */
.feature {
    padding: 96px 0;
}
.feature-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 72px;
    column-gap: 24px;
}
.feature-card {
    width: 288px;
}

.feature h1 {
    color: #2E2F42;
    text-align: center;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
}

.feature p {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    font-family: "Roboto", sans-serif;
    /* padding-bottom: 72px; */
}
@media (min-width: 768px) {
    .feature-list {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .feature-card {
        width: 356px;
    }
    .feature h1 {
        text-align: left;
    }
}
.feature-card-img {
    display: none;
}
@media (min-width: 1280px) {
    .feature-card {
        width: 264px;
    }
    .feature-card-img {
        margin-bottom: 8px;
        display: block;
    }
    .feature {
        padding: 120px 0;
    }
    .feature-card h1 {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
    }
    .feature-card p {
        font-weight: 400;
    }
}
/* Feature styles end */

.our-team {
    text-align: center;
    padding:82px 0 96px;
    background-color: #F4F4FD;
}
.main-title {
    padding-bottom: 64px;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    font-family:"Roboto", sans-serif;
    text-align: center;
}
.team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 72px;
}
.team-card {
    width: 264px;
    background-color: white;
}

.card-content {
    width: 264px;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
}
.card-content h3 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    line-height: 120%;
}
.card-content p {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color:#434455;
    line-height: 150%;
}

.card-content ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
}

.link-soc {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s linear;
}

.link-soc:hover {
    background-color: #303baf;

}

@media (min-width:768px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 24px;
        row-gap:64px;
    }
    .our-team {
        padding: 96px 0;
    }
}
@media (min-width:1280px) {
    .our-team {
        padding: 120px 0;
    }
}
/* portfolio star */
.portfolio {
    padding:96px 0;
}
.portfolio-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap:48px;
}
.portfolio-card {
    width: 288px;
    height: 400px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-card-img-box {
    width: 100%;
    height: 280px;
    overflow: hidden;
    position: relative;
}
.portfolio-card-hover-block {
    background-color:#4D5AE5 ;
    padding: 40px 32px 0;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    font-family: "Roboto", sans-serif;
    color: #f4f4fd;
    position: absolute;
    top: 100%;
    left: 100%;
    right: 0;
    z-index: 10;
    transition: all .5s;
}
.portfolio-card:hover .portfolio-card-hover-block {
    top: 0;
    left:0;
}
.portfolio-card-desc {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}
.portfolio-card-desc-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-card-desc-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    font-family: "Roboto", sans-serif;
}
@media (min-width:768px) {
    .portfolio-list {
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }
}
@media(min-width:1280px) {
    .portfolio {
        padding:120px 0;
    }
}

/* footer start */
.foot {
    background-color:#2E2F42 ;
}

.foot-content {
    /* height: 634px; */
    background-color:#2E2F42 ;
    display: flex;
    flex-direction: column;
    gap: 72px;
    text-align: center;
    padding: 96px 0;
}
.foot-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    font-family: "Roboto", sans-serif;
    color: #F4F4FD;
}

.foot-logo {
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 19px;
}

.footer_logo-span {
    color: #F4F4FD;
}
.foot-social  {
    font-weight: 500;
    font-size: 16px;
    width: 208px;
    margin: 0 auto;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #F4F4FD; 
    font-family: "Roboto", sans-serif;
}
.foot-social_link {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s linear;
    flex-direction: row;
}

.foot-social_link:hover {
    background-color: #31D0AA;
}
.foot-social-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    padding-top: 16px;
}
.foot-form {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 16px;
    align-items: center;
    row-gap: 16px;
}
.foot-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    font-family:"Roboto", sans-serif;
    color: #ffffff;

}
.foot-form-input {
    background-color: transparent;
    border: 1px solid #ffffff4d;
    border-radius: 4px;
    width: 268px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    color: #ffffff;
    padding-left: 16px;
    
}
.foot-form-button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 16px;
    width: 165px;
    height: 40px;
    background-color:#4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    text-align: center;
    color:#fff;
    font-family: "Roboto", sans-serif;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}
.foot-form-button:hover {
    background-color:#404BBF;
}
@media (min-width:768px) {
    .foot-content {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        padding-left:108px;
}
    .foot-text {
        width: 264px;
        height: 112px;
        text-align: left;
    }   
    .foot-social {
        width: 208px;
        height: 80px;
        text-align: left;
    }
    .foot-form-box {
        width: 453px;
        height: 80px;
    }
    .foot-form-title{
        text-align: left;
    }
    .foot-form {
        flex-direction: row;
        column-gap: 24px;
    }
}
@media (min-width:1280px) {
    .foot-content {
        padding: 100px 0;
        column-gap: 0;
    }
    .foot-text {
        margin-right: 120px;
    }
    .foot-social {
        margin-right: 80px;
    }
}